footer {
  background-color: #000000;
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 3.4375rem;
}

.first-area {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #282828;
}

.first-area .left {
  flex: 1;
  max-width: 37.5rem;
}

.first-area .left p {
  color: #9c9c9c;
  font-family: "Roboto Mono", monospace;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 153.3%;
  margin-top: 1.375rem;
}

.first-area .right {
  flex: 1;
  max-width: 16.875rem;
}

.first-area .right h3 {
  opacity: 0.8;
  font-family: "Roboto Mono", monospace;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 153.3%;
  letter-spacing: 1.62px;
  text-transform: uppercase;
  margin-bottom: 0.9375rem;
}

.first-area .right ul {
  display: flex;
  justify-content: space-between;
}

.first-area .right ul li:not(:last-child) {
  border-right: 1px solid #282828;
  padding-right: 0.875rem;
}

.first-area .right ul li a {
  color: #9c9c9c;
  font-family: "Roboto Mono", monospace;
  opacity: 0.8;
  font-size: 0.9375rem;
  line-height: 153.3%;
  transition: color 0.3s ease;
}

.first-area .right ul li a:hover {
  color: #fff;
  opacity: 1;
}

.second-area {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 4.875rem;
}

.second-area p {
  color: #9c9c9c;
  font-family: "Roboto Mono", monospace;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 153.3%;
}

.second-area p a {
  color: #9c9c9c;
  font-family: "Roboto Mono", monospace;
  opacity: 0.8;
  font-size: 0.9375rem;
  line-height: 153.3%;
  transition: color 0.3s ease;
}

.second-area p a:hover {
  color: #fff;
  opacity: 1;
}

@media (max-width: 991px) {
  .first-area {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;
    padding-bottom: 1.5rem;
  }

  .first-area .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .first-area .right ul li:not(:last-child) {
    margin-right: 1rem;
  }

  .second-area {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
  }
}
