* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto Mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #1b1b1b;
  --secondary: #242424;
  --tertiary: #fcc26b;
  --quaternary: #868686;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1.25rem 0;
}

.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--tertiary);
  padding: 1.1875rem 2.3125rem 1.1875rem 3.25rem;
  transition: background-color 0.3s ease;
}

.btn-primary span {
  font-family: "Road rage", sans-serif;
  color: var(--primary);
  font-size: 46px;
  letter-spacing: 2.3px;
  font-weight: 400;
}

.btn-primary:hover {
  background-color: var(--secondary);
}

.btn-primary:hover span {
  color: #fff;
}

.btn-primary:hover img {
  filter: invert(1);
}
