header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .btn-mobile {
  display: none;
}

header .container nav ul {
  display: flex;
  list-style: none;
  gap: 1.25rem;
  font-size: 1rem;
}

header .container nav ul li a {
  color: var(--secondary);
  text-decoration: none;
  transition: color 0.3s;
  line-height: 155.3%;
  letter-spacing: 0.96px;
  position: relative;
}

header .container nav ul li .active {
  color: var(--primary);
  font-weight: 700;
}

header .container nav ul li .active::before {
  content: "";
  position: absolute;
  background: url("/imgs/active.svg") no-repeat center center;
  width: 4px;
  height: 32px;
  left: 50%;
  margin-left: -2px;
  top: -36px;
}

header .container nav ul li a:hover {
  color: var(--quaternary);
}

header .container .right {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}

@media (max-width: 570px) {
  nav {
    display: none;
  }

  header .container .logo img {
    max-width: 9.9375rem;
  }

  header .container .btn-mobile {
    display: block;
  }

  header .container .right {
    gap: 1rem;
  }
}
