header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container nav ul {
  display: flex;
  list-style: none;
  gap: 1.25rem;
  font-size: 1rem;
}

header .container nav ul li a {
  color: var(--secondary);
  text-decoration: none;
  transition: color 0.3s;
  line-height: 155.3%;
  letter-spacing: 0.96px;
  position: relative;
}

header .container nav ul li .active {
  color: var(--primary);
  font-weight: 700;
}

header .container nav ul li .active::before {
  content: "";
  position: absolute;
  background: url("/imgs/active.svg") no-repeat center center;
  width: 4px;
  height: 32px;
  left: 50%;
  margin-left: -2px;
  top: -36px;
}

header .container nav ul li a:hover {
  color: var(--quaternary);
}

header .container .right {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}

/* Hero container*/
.hero-container {
  position: relative;
  width: 100%;
  height: 953px;
  background: url("/imgs/background.png") no-repeat top center;
  background-size: cover;
  overflow: hidden;
}

.hero-container .container .text-left {
  width: 100%;
  max-width: 39.25rem;
  padding-top: 18.25rem;
}

.hero-container .container .text-left .title {
  margin-bottom: 2.5rem;
}

.hero-container .container .text-left .title h1 {
  color: var(--quaternary);
  font-family: "Road Rage";
  font-size: 6.5625rem;
  line-height: 72%;
}

.hero-container .container .text-left .title h1 span {
  color: var(--primary);
  font-family: "Road Rage";
  font-size: 6.5625rem;
  line-height: 72%;
}

.hero-container .container .text-left .title img {
  transform: translateY(-20px);
  margin-top: -20px;
}

.hero-container .container .text-left p {
  font-family: "Roboto Mono", sans-serif;
  color: var(--quaternary);
  font-size: 1rem;
  line-height: 155.3%;
  margin-bottom: 2.6875rem;
}

.hero-container .container button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hero-container .container .text-left button span {
  color: var(--primary);
  -webkit-text-stroke: 1px var(--tertiary);
  font-family: "Road Rage";
  font-size: 2.5rem;
  letter-spacing: 0.125rem;
}

.hero-container .container .text-left .users {
  margin-top: 6.5625rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero-container .container .text-left .users ul {
  display: flex;
  align-items: center;
}

.hero-container .container .text-left .users ul li {
  background-color: #fff;
  border: 2px solid var(--tertiary);
  border-radius: 50%;
  width: 2.9375rem;
  height: 2.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container .container .text-left .users ul li:not(:first-child) {
  margin-left: -1.25rem;
}

.hero-container .container .text-left .users ul strong {
  color: var(--quaternary);
  font-size: 1.25rem;
  margin-left: 1.25rem;
}

.hero-container .container .ilustra {
  position: absolute;
  bottom: 0;
  right: -12%;
}
