@import url("./css/global.css");
@import url("./css/hero-container.css");
@import url("./css/numbers-container.css");
@import url("./css/how-to-use-container.css");
@import url("./css/stories-container.css");
@import url("./css/stickers-container.css");
@import url("./css/world-container.css");
@import url("./css/footer.css");

@media (max-width: 1440px) {
  .hero-container .container .ilustra {
    right: -20%;
  }
}

@media (max-width: 1200px) {
  .hero-container .container .ilustra {
    right: -30%;
  }
}

@media (min-width: 1441px) {
  .world-section {
    background-size: cover;
  }
}
